<div class="animated fadeIn">
  <!-- <div id="app"><input type="file">
    <nav class="container">
      <div>
        <table class="table table-sm table-hover">
          <tbody>
            <tr></tr>
            <tr>
              <td>FULL ROOM NAME: </td>
              <td>Quality Assissment</td>
            </tr>
            <tr>
              <td>Staff ID</td>
              <td>FullName</td>
            </tr>
            <tr>
              <td>T155100</td>
              <td>Võ Quang Thiện</td>
            </tr>
            <tr>
              <td>T155100</td>
              <td>Võ Quang Thiện</td>
            </tr>
            <tr>
              <td>T155100</td>
              <td>Võ Quang Thiện</td>
            </tr>
            <tr>
              <td>T155100</td>
              <td>Võ Quang Thiện</td>
            </tr>
          </tbody>
        </table>
      </div>
    </nav>
  </div>

  
  <button class="btn btn-success">Add</button>  -->

  <!-- <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
          <div class="row card">
              <div class="col-sm-12">
                  <h4>Upload Section</h4>
                  <div id="fileSelector">
                      <input type="file" name="fileUplaod" id="fileUpload"
                      multiple ng2FileSelect [uploader]="uploader">
                  </div>
                  <div>
                      <div class="row uploadList" *ngFor="let item of uploader.queue">
                          <div class="col-sm-4">{{item.file.name}}</div>
                          <div class="col-sm-4">
                              <div class="progress">
                                  <div class="progress-bar bg-success" 
                                  [ngStyle]="{'width':item.progress+'%'}"></div>
                              </div>
                          </div>
                          <div class="col-sm-4">
                                  <button type="button" class="btn btn-dark" (click)="onUpload()">Upload</button>
                                  <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
                          </div>
                      </div>                        
                  </div>
                  <div class="row" *ngIf="uploader?.queue?.length > 0">
                          <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Upload All</button>
                  </div>
              </div>                
          </div>

          <div class="row card">
              <h4>Download Section</h4>

              <div class="row" *ngFor="let item of attachmentList; let i = index"
              style="margin:10px;padding:5px;background-color:rgb(231, 229, 229); border-radius:5px; line-height:40px;">
                  <div class="col-sm-7">{{item.originalnpname}}</div>
                  <div class="col-sm-5" style="text-align:center;"><button type="button" class="btn btn-primary" (click)="download(i)">Download</button></div>
              </div>
          </div>
      </div>
      <div class="col-md-2"></div>
  </div> -->

  <div class="row card">
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="multiple">Multiple</label>
          <input type="file" class="form-control" name="multiple" ng2FileSelect [uploader]="uploader" multiple />
        </div>
        <div class="form-group">
          <label for="single">single</label>
          <input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
        </div>
      </form>
    </div>
    <div class="col-md-8">
      <h3>File Uploads</h3>
      Queue length: {{ uploader?.queue?.length }}
      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th>Size</th>
            <th>Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of uploader.queue">
            <td><strong>{{ item.file.name }}</strong></td>
            <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
            <td>
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
          
            <td class="text-center">
              <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
           
            <td nowrap>
              
              <button type="button" class="btn btn-success btn-xs" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </button>
              <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </button>
              <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        <div>
          Queue progress:
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="glyphicon glyphicon-upload"></span> Upload all
        </button>
        <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </button>
        <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </button>
      </div>
    </div>
  </div>
</div>