<div class="global-header mod-trello-blue mod-dark-background u-clearfix scroll" data-track-group="Global Header">
  <div class="container">
    <div class="global-header-section mod-left"> <a class="global-header-section-logo" href="/home"> 
      <img alt="Home" class="global-header-section-logo-image" src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/trello-header-logos/af7af6ed478d3460709d715d9b3f74a4/trello-logo-white.svg" width="150">
      </a> </div>
    <div class="global-header-section mod-right"> 
      <a routerLink="/login" class="header-button-secondary">Log In</a>
      <a routerLink="/register" class="header-button-primary">Sign Up</a> </div>
  </div>
</div>
<div class="layout-two-col"> 
  <div class="hero-text"> 
    <h1>Trello lets you work more collaboratively and get more done.</h1> 
    <p class="big">Trello’s boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and rewarding way.</p> 
    <p> <a routerLink="/register" class="button-primary big">Sign Up</a> </p> 
  </div> 
  <div class="hero-image"> <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/308998dcb3ed5ab3d01217a4d24ffa03/hero-a.svg" width="582"> 
  </div> 
  </div>

