<div class="animated fadeIn">
  <fieldset class="field-container">
    <input type="text" placeholder="Search..." class="field" />
    <div class="icons-container">
      <div class="icon-search"></div>
      <div class="icon-close">
        <div class="x-up"></div>
        <div class="x-down"></div>
      </div>
    </div>
  </fieldset>
  <div class="toolbar row mt-2">
    <div class="filter-options col-lg-9">
      <a href="#" class="filter-item active" data-group="all">All Categories</a>
      <a href="#" class="filter-item" data-group="fantasy">QA</a>
      <a href="#" class="filter-item" data-group="sci-fi">QAM</a>
      <a href="#" class="filter-item" data-group="classic">PM</a>
      <a href="#" class="filter-item" data-group="fairy">Staff</a>
      <a href="#" class="filter-item" data-group="young">Often</a>
    </div>
    <div class="small-12 col-lg-3">
      <select class="sort-options">
        <option value="" disabled selected>Sort by</option>
        <option value="">Featured</option>
        <option value="title">Alphabetical</option>
        <option value="date-created">Published</option>
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-sm-6 col-lg-2">
      <div class="card text-black " style="height:130px;">
        <div class="card-body-se pb-0">
          <div class="user-card">
            <span class="doc-icon doc" style="color:white;margin-left: 10px">☷</span>
            <br>
            <span class="doc-type mt-15" style="color:white">PDF</span>
            <button class="btn btn-primary mt-2 ">View</button>
            <button class="btn btn-success  ml-2">Download</button>
          </div>
        </div>
        <div class="more-info">
          <div class="coords mt-2">
            <p>This is document for some problem</p>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-black " style="height:130px;">
        <div class="card-body-su pb-0">
          <div class="user-card">
            <span class="doc-icon doc" style="color:white;margin-left: 10px">⊟</span>
            <br>
            <span class="doc-type mt-15" style="color:white">EXL</span>
            <button class="btn btn-primary mt-4 ">View</button>
            <button class="btn btn-success mt-2 ml-2">Download</button>
          </div>
        </div>
        <div class="more-info">
          <div class="coords mt-2">
            <p>This is document for some problem</p>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-black " style="height:130px;">
        <div class="card-body-wr pb-0">
          <div class="user-card">
            <span class="doc-icon doc" style="color:white;margin-left: 10px">☷</span>
            <br>
            <span class="doc-type mt-15" style="color:white">PDF</span>
            <button class="btn btn-primary mt-4 ">View</button>
            <button class="btn btn-success mt-2 ml-2">Download</button>
          </div>
        </div>
        <div class="more-info">
          <div class="coords mt-2">
            <p>This is document for some problem</p>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-black " style="height:130px;">
        <div class="card-body-dg pb-0">
          <div class="user-card">
            <span class="doc-icon doc" style="color:white;margin-left: 10px">⧉</span>
            <br>
            <span class="doc-type mt-15" style="color:white">PTT</span>
            <button class="btn btn-primary mt-4 ">View</button>
            <button class="btn btn-success mt-2 ml-2">Download</button>
          </div>
        </div>
        <div class="more-info">
          <div class="coords mt-2">
            <p>This is document for some problem</p>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-black " style="height:130px;">
        <div class="card-body-pr pb-0">

          <div class="user-card">
            <span class="doc-icon doc" style="color:white;margin-left: 10px">☰</span>
            <br>
            <span class="doc-type mt-15" style="color:white">DOC</span>
            <button class="btn btn-primary mt-4 ">View</button>
            <button class="btn btn-success mt-2 ml-2">Download</button>
          </div>

        </div>
        <div class="more-info">
          <div class="coords mt-2">
            <p>This is document for some problem</p>
          </div>
        </div>
      </div>

    </div>
    <!--/.col-->
    <div class="col-sm-6 col-lg-2">
      <div class="card text-black " style="height:130px;">
        <div class="card-body-dg pb-0">
          <div class="user-card">
            <span class="doc-icon doc" style="color:white;margin-left: 10px">⧉</span>
            <br>
            <span class="doc-type mt-15" style="color:white">PTT</span>
            <button class="btn btn-primary mt-4 ">View</button>
            <button class="btn btn-success mt-2 ml-2">Download</button>
          </div>
        </div>
        <div class="more-info">
          <div class="coords mt-2">
            <p>This is document for some problem</p>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->


  