
@font-face{font-family:'Charlie Display';src:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-display/7c1c0a53957fc3b9f2716e8f26d50cf1/Charlie_Display-Regular.woff) format("woff"),url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-display/b4c3881bee93dfe1488688bb9d4d8e49/Charlie_Display-Regular.woff2) format("woff2");font-weight:400;font-style:normal}@font-face{font-family:'Charlie Display';src:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-display/9173dc9a5a19f693f05f5986971b8b6c/Charlie_Display-Italic.woff) format("woff"),url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-display/d93c5598b0534dc3a40ecececcc9de90/Charlie_Display-Italic.woff2) format("woff2");font-weight:400;font-style:italic}@font-face{font-family:'Charlie Display';src:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-display/aa4aa85c7ef84dd4cb06bba4cd08a1b6/Charlie_Display-Semibold.woff) format("woff"),url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-display/5df3e495e418541d4ee58565d65300a3/Charlie_Display-Semibold.woff2) format("woff2");font-weight:500;font-style:normal}@font-face{font-family:'Charlie Display';src:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-display/a1ed6acc62220d32d87a82a8df77193d/Charlie_Display-Semibold_Italic.woff) format("woff"),url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-display/819212d1023047c5cbc4bf7087a22683/Charlie_Display-Semibold_Italic.woff2) format("woff2");font-weight:500;font-style:italic}@font-face{font-family:'Charlie Text';src:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-text/b7e8ae700922f44a87cf9bfa816f47f3/Charlie_Text-Regular.woff) format("woff"),url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-text/b2fe1098e251238a45ea8d199d04723e/Charlie_Text-Regular.woff2) format("woff2");font-weight:400;font-style:normal}@font-face{font-family:'Charlie Text';src:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-text/3161515033c7d26793fd0aaae47f24b9/Charlie_Text-Italic.woff) format("woff"),url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-text/f4371c9195626a4e38ab56673b51f638/Charlie_Text-Italic.woff2) format("woff2");font-weight:400;font-style:italic}@font-face{font-family:'Charlie Text';src:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-text/f7510eaae5eb4e52cf90295b6a217659/Charlie_Text-Semibold.woff) format("woff"),url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-text/1c6e2a15a0f304ec8bef45481a75a07c/Charlie_Text-Semibold.woff2) format("woff2");font-weight:500;font-style:normal}@font-face{font-family:'Charlie Text';src:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-text/bdcc5e50c64eb53e33d53cbb97dcdfae/Charlie_Text-Semibold_Italic.woff) format("woff"),url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/fonts/charlie-sans/charlie-text/9182af6e9b3e010d663a2b6b25bc5904/Charlie_Text-Semibold_Italic.woff2) format("woff2");font-weight:500;font-style:italic}p,a,span{font-family:'Charlie Text','Helvetica','Arial',sans-serif}p.big{font-size:1.2em}h1,h2,h3{font-family:'Charlie Display','Helvetica','Arial',sans-serif}h1{font-size:2.75em}h2{font-size:2em}h3{font-size:1.25em;margin:1em auto .5em}body{margin-top:0}.container{width:100%;max-width:1098px;margin:auto;-moz-box-sizing:border-box;box-sizing:border-box}.container .row{-moz-box-sizing:border-box;box-sizing:border-box;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin:0 -25px;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center}.container .row .col{-moz-box-sizing:border-box;box-sizing:border-box;-webkit-flex-basis:0;-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-webkit-flex-grow:1;-ms-flex-positive:1;flex-grow:1;padding:0 25px}.container .row .col>*:first-child{margin-top:0}.container .row .col>*:last-child{margin-bottom:0}.container .row .col img{width:100%;height:auto;margin:0}.container .row .col.col-40{-webkit-box-flex:0;-webkit-flex:0 0 40%;-ms-flex:0 0 40%;flex:0 0 40%}.container .row .col.col-50{-webkit-box-flex:0;-webkit-flex:0 0 50%;-ms-flex:0 0 50%;flex:0 0 50%}.container .row .col.col-60{-webkit-box-flex:0;-webkit-flex:0 0 60%;-ms-flex:0 0 60%;flex:0 0 60%}@media only screen and (min-width:900px){section{padding:3em 1em}}.slick-slider{position:relative;display:block;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;overflow:hidden;display:block;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0)}.slick-track{position:relative;left:0;top:0;display:block;margin-left:auto;margin-right:auto}.slick-track:before,.slick-track:after{content:"";display:table}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{float:left;height:100%;min-height:1px;display:none}[dir="rtl"] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}div.login-form h1{color:#ffffff;font-size:1.75em;margin:0 auto}.section-home-login{background:#5243AA;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #5243AA), to(#0079bf));background:linear-gradient(0deg, #5243AA 0, #0079bf 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5243AA', endColorstr='#0079bf', GradientType=1);color:#ffffff}.section-home-login a,.section-home-login a:hover,.section-home-login a:visited,.section-home-login a:active{color:#ffffff}.section-home-login a:hover,.section-home-login a:active{opacity:.8}.section-home-login .top-h1{color:#ffffff;font-size:2em}.section-home-login .quiet{color:#B3BAC5}.section-home-login .create-account.quiet{display:block;margin-bottom:1em}.global-header.mod-trello-blue{background:rgba(155,94,223,0);box-shadow:0 0 10px rgba(0,0,0,0);-webkit-transition:background 1s ease 0s,box-shadow 1s ease 0s;transition:background 1s ease 0s,box-shadow 1s ease 0s}.global-header.mod-trello-blue.scroll{background:#0079bf !important;box-shadow:0 0 10px rgba(0,0,0,0.3)}.global-header-section.mod-right{margin-top:-5px}.global-header .container{width:1200px;max-width:100%;margin:0 auto}h1,h2,h3{color:#172B4D}p,span{color:#42526E}p.small{font-size:1em}.dark-background h1,.dark-background h2,.dark-background h3{color:#FFFFFF}.dark-background p,.dark-background span{color:rgba(255,255,255,0.9)}section{text-align:center}section#hero{background:#0079BF;background:linear-gradient(135deg, #0079BF 0, #5067C5 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0079BF', endColorstr='#5067C5', GradientType=1);color:white;padding-top:4em}section#demo .layout-centered{padding:0 1em}section#demo h2{margin-top:0}section#demo h3{color:#00C2E0}section#demo #carousel{width:100%;max-width:880px;margin:0 auto;opacity:0;cursor:pointer}section#demo #carousel.slick-initialized{opacity:1}section#demo #carousel .slick-list{border-radius:12px;overflow:hidden}section#demo #carousel .item{position:relative}section#demo #carousel .item .caption{background:rgba(48,54,76,0.8);font-size:18px;color:white;padding:40px 40px 65px;font-weight:bold;position:absolute;bottom:0;left:0;right:0}section#demo #carousel .item img{margin:0}section#demo #carousel .item img.desktop{display:none}section#demo #carousel .item:focus{outline:none}section#demo #carousel button.slick-arrow{position:absolute;top:50%;width:120px;height:120px;margin:-40px 0 0 0;white-space:nowrap;overflow:hidden;text-indent:100%;padding:0;box-shadow:none}section#demo #carousel button.slick-arrow.slick-prev{left:-140px;background:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/f0ac49998eb47eca513d0e4bffde21e8/arrow-prev-white.svg)}section#demo #carousel button.slick-arrow.slick-prev:hover{background:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/9566bc16f760a7b283ab07fda3e886b1/arrow-prev-blue.svg)}section#demo #carousel button.slick-arrow.slick-prev:before{content:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/9566bc16f760a7b283ab07fda3e886b1/arrow-prev-blue.svg);width:0;height:0;visibility:hidden;position:absolute}section#demo #carousel button.slick-arrow.slick-next{background:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/1e488a7e200b2a933f907597c62b718d/arrow-next-white.svg);right:-140px}section#demo #carousel button.slick-arrow.slick-next:hover{background:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/49e6431fdf988f27dee445a3c7e2d95e/arrow-next-blue.svg)}section#demo #carousel button.slick-arrow.slick-next:before{content:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/49e6431fdf988f27dee445a3c7e2d95e/arrow-next-blue.svg);width:0;height:0;visibility:hidden;position:absolute}section#demo #carousel ul.slick-dots{list-style-type:none;margin:0;position:absolute;bottom:15px;padding:0;width:100%}section#demo #carousel ul.slick-dots li{display:inline-block;height:20px;margin:0 7px;padding:0;position:relative;width:15px}section#demo #carousel ul.slick-dots li button{margin:0;padding:0;box-shadow:none;text-indent:100%;overflow:hidden;white-space:nowrap;width:10px;height:10px;border-radius:5px;background:#7082A9;display:block;position:absolute;top:5px;left:2.5px}section#demo #carousel ul.slick-dots li.slick-active button{background:#00C2E0;width:15px;height:15px;border-radius:7.5px;left:0;top:2.5px}section#features{padding-top:2em}section#features .layout-three-col>div{padding-bottom:71px;position:relative}section#features .layout-three-col>div p.cta{position:absolute;bottom:0;width:100%}section#features .layout-three-col>div p.cta a.button{padding:.7em}section#features .layout-three-col>div p.cta.app-store a{display:inline-block}section#features .layout-three-col>div p.cta.app-store a img{height:46px;margin:0;width:auto;display:inline;opacity:.8;box-shadow:0 1px 0 #A5ACB0;border-radius:.3em}section#features .layout-three-col>div p.cta.app-store a img:hover{opacity:1}section#features h3{margin-top:.5em}section#features div.img{background-size:contain;background-position:center center;background-repeat:no-repeat;margin-top:1em}section#features .layout-centered{padding:0}.layout-two-col{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin:0 auto;max-width:1200px;width:100%}.hero-text p{margin:1em auto;max-width:100%;width:600px}.layout-three-col{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;margin:0 auto;max-width:1200px;width:100%}.layout-three-col img{max-width:100%}.layout-three-col>div{max-width:100%;padding:0 .5em;-moz-box-sizing:border-box;box-sizing:border-box}#work-smarter{padding-top:0}#bottom-gradient .layout-centered{padding-top:0}footer.quiet a{color:#8993A4}@media screen and (min-width:402px){#carousel .desktop{display:block !important;width:100%}#carousel .mobile{display:none}}@media screen and (min-width:900px) and (max-width:1200px){.hero-text h1{font-size:2.25em}}@media screen and (min-width:900px){p.small{font-size:.8em}section#demo{padding-bottom:0}.layout-two-col{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.layout-two-col>div{text-align:left}.layout-three-col{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}.layout-three-col>div{max-width:32%;text-align:center;vertical-align:top}.hero-text{padding-right:4%;-moz-box-sizing:border-box;box-sizing:border-box}.hero-text p{margin:1em 0;width:500px}#get-started{background:none}#get-started h2{margin-top:0 !important}#get-started p{padding:0 1em}}a.button-primary{background:#36B37E;color:#ffffff;font-weight:500;text-decoration:none;font-size:1em;padding:.5em 1.5em .7em;border-radius:6px;box-shadow:0 3px #006644;margin:.25em auto;display:inline-block}a.button-primary.big{font-size:1.25em}a.button-primary:hover,a.button-primary:active{color:rgba(255,255,255,0.8)}a.button-primary:visited{color:white}a.button-secondary{background:#EBECF0;color:#172B4D;font-weight:500;text-decoration:none;font-size:1em;padding:.5em 1.5em .7em;border-radius:6px;box-shadow:0 3px #C1C7D0;margin:.25em auto;display:inline-block}a.button-secondary.big{font-size:1.25em}a.button-secondary:hover,a.button-secondary:active{color:#172B4D;opacity:.95}a.button-secondary:visited{color:#172B4D}a.header-button-primary{background:#FFFFFF;color:#0079bf;font-weight:500;text-decoration:none;font-size:.9em;padding:.25em 1em .35em;border-radius:4px;box-shadow:0 2px #c1c7d0;margin:.25em auto;display:inline-block}a.header-button-primary:hover,a.header-button-primary:active{opacity:.95}a.header-button-primary:visited,a.header-button-primary:hover,a.header-button-primary:active{color:#0079bf}a.header-button-secondary{text-decoration:none;color:white;font-size:.9em;margin-right:.75em}a.header-button-secondary:hover,a.header-button-secondary:active{opacity:.8}a.header-button-secondary:visited,a.header-button-secondary:hover,a.header-button-secondary:active{color:white}section img{height:auto}#teams .clip{height:437px;overflow:hidden}#collaborate{padding-bottom:0;padding-top:0}#collaborate .layout-two-col{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-webkit-flex-direction:column-reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}#collaborate .layout-two-col .layout-two-text{margin-top:0}#collaborate .layout-two-col .layout-two-text h2{margin-top:0}#work-smarter .container{background:#42548E;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #42548E), to(#6B668C));background:linear-gradient(180deg, #42548E 0, #6B668C 100%);border-radius:12px;color:white;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#42548E', endColorstr='#6B668C', GradientType=1);padding:30px}#work-smarter .container .row{margin-bottom:40px;margin-top:40px}#work-smarter img{display:inline-block;margin:1em .5em}#get-started{background-image:url(https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/9685a995c7fa45b6fe6efe7de20b4a69/trellians-2x.png);background-position:center;background-repeat:no-repeat;background-size:1332px 250px}#bottom-gradient{background:#fff;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(46%, #f7ecff), color-stop(74%, #d2ecff), to(#fff));background:linear-gradient(to bottom, #fff 0, #f7ecff 46%, #d2ecff 74%, #fff 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0)}#bottom-gradient #language-picker-container{background-color:transparent}#bottom-gradient #language-picker-container select{background-color:white}@media screen and (min-width:900px){#collaborate{padding:2em 1em 0}#collaborate .layout-two-col{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row}}


  
.gdpr-cookie-consent-banner {
    background-color: white;
    position: fixed;
    width: 100%;
    min-height: 50px;
    bottom: 0;
    border: none;
    z-index: 90001;
  
    font-family: jaf-facitweb, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
  
  .gdpr-cookie-consent-banner .gdpr-cookie-consent-body {
    position: static;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .gdpr-cookie-consent-banner .gdpr-settings-link {
    margin-left: 0px;
    margin-right: 5px;
    color: black;
    cursor: pointer;
    white-space: nowrap;
  }
  
  a.gdpr-close-button {
    padding: 5px 10px 5px 4px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 15pt;
    font-weight: 350;
    color: #838C91;
    text-decoration: none;
  }
  
  a.gdpr-close-button:visited {
    color: #838C91;
  }
  
  .gdpr-cookie-consent-button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 22px;
    margin: 0 4px 0 10px;
    padding: 5px 16px;
    text-align: center;
  
    background: #5AAC44;
    box-shadow: 0 1px 0 #519839;
    color: #fff;
    -webkit-transition: background .3s ease; /* Safari */
    transition: background .3s ease;
  }
  
  button.gdpr-cookie-consent-button:hover, button.gdpr-cookie-consent-button:focus {
    background: #519839 100%;
    color: #fff;
  }
  
  button.gdpr-cookie-consent-button:active {
    background: #49852E 100%;
  }
  
  .gdpr-cookie-consent-dialog {
    font-family: jaf-facitweb, "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
  
  .gdpr-cookie-consent-dialog .gdpr-bg-shroud {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
    z-index: 90002;
  }
  
  .gdpr-cookie-consent-dialog .gdpr-dialog {
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -150px;
    background: white;
    height: auto;
    width: 330px;
    z-index: 90003;
    border-radius: 3px;
    padding-top: 10px;
  }
  
  .gdpr-cookie-consent-dialog .gdpr-dialog .gdpr-header {
    text-align: center;
    border-bottom: 1px solid;
    border-color: #d7dadc;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #838C91;
  }
  
  .gdpr-cookie-consent-dialog .gdpr-dialog .gdpr-cookie-options {
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .gdpr-cookie-options .gdpr-cookie-consent-button {
    bottom: 0px;
    margin-bottom: 20px;
  }
  
  .gdpr-cookie-item-text {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
  }
  
  .gdpr-cookie-flavour-text {
    display: block;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  
  /* Checkmark */
  .checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    padding-left: 8px;
  }
  
  .checkmark.hidden {
    display: none;
  }
  
  .checkmark_stem {
    position: absolute;
    width:2px;
    height:12px;
    background-color:#838C91;
    left:11px;
    top:6px;
  }
  
  .checkmark_kick {
    position: absolute;
    width:4px;
    height:2px;
    background-color:#838C91;
    left:7px;
    top:16px;
  }
  
  /* Checkboxes */
  
  .gdpr-item-checkbox {
    display: inline-block;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #D6DADC;
    border-bottom-color: #C4C9CC;
    font-weight: bold;
    line-height: 18px;
    overflow: hidden;
    text-align: center;
    height: 21px;
    width: 21px;
    white-space: nowrap;
    margin-right: 7px;
  }
  
  .gdpr-item-checkbox:hover {
    background-color: #F8F9F9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .gdpr-item-checkbox:active {
    background-color: #E2E4E6;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  }
    