<div class="animated fadeIn">
  <div ng-app="ScrumApp">
    <div>
      <div class="form">
        <h1>Card Scrum Board</h1>
        <input type="text" placeholder="Type Task" id="task" />
        <button class="button" id="add-button">Add Card</button>
      </div>
      <div class="flex">
        <div class="scrum-board backlog">
          <h2>Backlog</h2>
          <div class="input-group overflow">
            <span (click)="htmlInsideModal.open()" onmouseover="" style="cursor: pointer;">Wash dishes</span>
            <a href="#" class="drag">Drag</a>
            <div class="margin-top-10">
               <button class="button button-backlog">Backlog</button><button class="button button-progress">In Progress</button><button class="button button-done">Done</button><button class="button button-delete">Delete</button>
            </div>
          </div>
          <div class="input-group overflow">
            <span (click)="htmlInsideModal.open()">Make bed</span>
            <a href="#" class="drag">Drag</a>
            <div class="margin-top-10">
              <button class="button button-backlog">Backlog</button><button class="button button-progress">In Progress</button><button class="button button-done">Done</button><button class="button button-delete">Delete</button>
            </div>
          </div>
          <div class="input-group overflow">
            <span (click)="htmlInsideModal.open()" >Cook dinner</span>
            <button class="modal-modal">dsadsa</button>
            <a href="#" class="drag">Drag</a>
            <div class="margin-top-10">
              <button class="button button-backlog">Backlog</button><button class="button button-progress">In Progress</button><button class="button button-done">Done</button><button class="button button-delete">Delete</button>
            </div>
          </div>
          <div class="input-group overflow">
            <span (click)="htmlInsideModal.open()">Ask wife permission to go on trip</span>
            <a href="#" class="drag">Drag</a>
            <div class="margin-top-10">
              <button class="button button-backlog">Backlog</button><button class="button button-progress">In Progress</button><button class="button button-done">Done</button><button class="button button-delete">Delete</button>
            </div>
          </div>        
        </div>
  
        <div class="scrum-board in-progress">
          <h2>In progress</h2>
        </div>
        <div class="scrum-board done">
          <h2>Done</h2>
        </div>
  
      </div>
    </div>
</div>

<!-- Modal-->
<modal #htmlInsideModal >
  <ng-template #modalHeader>
    <h2>Card Details</h2>
  </ng-template>
  <ng-template #modalBody>
   
      <div >
        <label for="recipient-name" class="col-form-label">Card Name:</label>
        <input type="text" class="form-control" id="recipient-name">
      </div>
      <div >
        <label for="message-text" class="col-form-label">Content:</label>
        <textarea class="form-control" id="message-text"></textarea>
      </div>
      <div >
        <label for="recipient-name" class="col-form-label"></label>
        <input type="text" class="form-control" id="recipient-name">
      </div>
      <div >
        <label for="message-text" class="col-form-label">Assign To</label>
        <textarea class="form-control" id="message-text"></textarea>
      </div>
      <div style="float:right">
        <button class="btn btn-secondary">Cancel</button>
        <button class="btn btn-primary">Save</button>
      </div>

  </ng-template>
</modal>